<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <title>Motivation twowards to Clean Campus </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color: #f1bebe
        }
        
        button .btn :hover {
            background-color: brown;
        }
        
        a:hover {
            background-color: brown;
        }
        
        .footer p {
            background-color: black;
            color: white;
            margin: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            display: block;
            font-size: large;
            width: 100%;
            padding: 20px 50px;
        }
        
        .footer {
            background-color: black;
            color: white;
        }
        
        a.twitter {
            background-color: rgb(0, 23, 128);
            width: 108px;
            height: 61px;
            float: left;
            zoom: 1;
            border: 2px solid black;
            border-radius: 5px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CLEAN@IIITGMISSION</a>
            <img src="/logo.png" style="height: 70px ;width: 80px; border-radius: 50%;" class=" img-fluid d-block " alt="...">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://sbm.gov.in/sbmdashboard/IHHL.aspx">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post">Post</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="container my-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                    <h1>About Us</h1>
                    <p class="me-2 ">
                        To accelerate the efforts to achieve universal sanitation coverage and to put focus on sanitation, the Prime Minister of India had launched the Swachh Bharat Mission on 2nd October 2014. </p>

                    <p>
                        We are a group of students of Indian Institute of Information Technology, Guwahati, who have came up with an idea to campaign for the Swachchha Bharat Abhiyaan on institute level. We used technology to create a discussion forum for our institute to have
                        some fruitful conversation on cleanliness and sanitation. We have also added some blogs on cleanliness which we keep updating from time to time so that our readers can learn from them as well as to keep them interested in the campaign.
                        We have also added learn section in our site so that interested users can learn something useful on various cleanliness practices and techniques.
                    </p>
                </div>
            </div>
        </div>

        <div class="row featurette ">
            <div class="col-md-7">
                <h1 style="margin-left: 25%; display: block;" my-2 me-2 mb-2>Know more about this mission</h1>
                <h1>
                    <hr>
                </h1>
                <h4 my-2 me-2 mb-2 style="margin-top: 100px;" class="featurette-heading my-4 ">How should we keep neat and clean India <span class="text-muted">.</span></h4>
                <p class="lead text-center">Vermicomposting is an excellent technique for recycling food waste.</p>
            </div>
            <div class="col-md-5 ">
                <img style="margin-top: 100px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" src="/6.jpg" alt="">

            </div>
        </div>

    </div>


    <div class="container ">
        <div class="row featurette ">
            <div class="col-md-7  order-md-2">
                <h4 class="featurette-heading my-4">Prior to the commencement of the Swachh Bharat Mission Grameen (SBM-G) in October 2014. <span class="text-muted">.</span></h4>
                <p class="lead">The activity is in keeping with the Swachh Bharat Mission (Grameen) Phase-II.</p>
            </div>
            <div class="col-md-5  order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" src="/3.jpg" alt="">

            </div>
        </div>
    </div>
    <div class="container ">


        <div class="row featurette ">
            <div class="col-md-7 ">
                <h4 class="featurette-heading my-4">How pepole motivated towards cleaness of india . <span class="text-muted">.</span></h4>
                <p class="lead">In 2020, as the first national lockdown was instituted in face of the COVID-19 outbreak, UNICEF Assam, in coordination with implementing partner, </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" src="1.jpg" alt="">

            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row featurette ">
            <div class="col-md-7 order-md-2">
                <h4 class="featurette-heading my-4">More Know about stage of cleaness of India. <span class="text-muted">.</span></h4>
                <p class="lead">Intricate threadwork, motifs and vibrant colours describe the handloom weaves of Odisha that have gained national and international acclaim.</p>
            </div>
            <div class="col-md-5  order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" src="4.jpg" alt="">

            </div>
        </div>

    </div>
    <div class="container ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                    <h4 style="margin-top: 25px ;" class="me-2 my-2 "> About DDWS</h4>
                    <img style="margin-top: 25px ;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="500" src="/learn.jpeg" alt="">

                </div>
                <div class="col-md-4 d-flex justify-center align-items-center flex-column">
                    <p style="margin-top: 75px ;" class="me-2  my-2">
                        About DDWS The Department of Drinking Water and Sanitation provides technical and financial assistance to the States to provide safe and adequate drinking water to rural India with focus on service delivery.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="footer" style="margin-top: 30px;">
        <p>copyright @2021-2022 www.cleanliness@iiitg.com! all rights reserved</p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>