<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha3124-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD85VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color: antiquewhite;
        }
        
        button .btn :hover {
            background-color: brown;
        }
        
        a:hover {
            background-color: brown;
        }
        
        a {
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 5px 5px;
            margin: 5px 5px;
        }
        
        .footer {
            display: flex;
            justify-content: center;
        }
        
        .footer p {
            background-color: black;
            color: white;
            margin: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            display: block;
            font-size: large;
            width: 100%;
            padding: 20px 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CLEAN@IIITGMISSION</a>
            <img src="/logo2.jpg" style="height: 70px ;width: 80px; border-radius: 50%;" class=" img-fluid d-block " alt="...">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://sbm.gov.in/sbmdashboard/IHHL.aspx">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post">Post</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4 d-flex justify-center align-items-center flex-column">
                <h5 class=" me-2 my-2">June 1st, 2019 SWACHH BHARAT SUMMER INTERNSHIP (SBSI) 2019</h5>
                <p class="me-3 my-3">Become a Swachh Bharat Intern by joining the SBSI 2019. All youngsters who successfully complete the internship will receive Swachh Bharat Certificates. Internship Period: 10th June - 31st July, 2019 Swachh Bharat Summer Internship is
                    an opportunity for youth across the country enrolled in Nehru Yuva Kendra Sangathan (NYKS), National Service Scheme (NSS) and National Cadet Corps (NCC) to join the Swachh Bharat Jan Andolan.
                </p>

                <button class="btn btn-success "><a  href="https://sbm.gov.in/sbsi2019/">Continue
                     Reading</a> </button>

            </div>
            <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                <img src="/blogs1.jpg" style="height: 400px ;width: 400px; border-radius: 10%;" class=" img-fluid d-block " alt="...">
            </div>

            <div class="col-md-4 d-flex justify-center align-items-center flex-column">
                <h5>October 2, 2019 Swachhta Hi Seva Abhiyaan (SHS 2019)</h5>
                <p class="me-3 my-3">The Prime Minister, Shri Narendra Modi launched Swachhata Hi Seva (SHS) 2019, a massive countrywide awareness and mobilization campaign on Swachhata at Mathura today. SHS 2019, with special focus on ‘plastic waste awareness and management’
                    is being organized from 11th September to October 2nd 2019, as the Swachh Bharat Mission (SBM) is poised to dedicate an ODF India to Mahatma Gandhi on his 150th birth anniversary. .</p>
                <button class="btn btn-success "><a  href="https://pib.gov.in/newsite/PrintRelease.aspx?relid=193132">Continue
                     Reading</a> </button>
            </div>
            <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                <img src="/blogs2.jpg" style="height: 400px ;width: 400px; border-radius: 10%;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column">
                <h5>November 19, 2017 World Toilet Day</h5>
                <p class="me-3 my-3">
                    World Toilet Day is an official United Nations international observance day on 19 November to inspire action to tackle the global sanitation crisis. Worldwide, 4.2 billion people live without "safely managed sanitation" and around 673 million people practice
                    open defecation
                </p>
                <button class="btn btn-success  me-3 my-3"><a href="https://www.un.org/en/observances/toilet-day">Continue
                     Reading</a> </button>
            </div>
            <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                <img src="/blogs3.jpg" style="height: 400px ;width: 400px; border-radius: 10%;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column">
                <h5>September 15, 2017 Swachhata Hi Sewa</h5>
                <p class="me-3 my-3" v>
                    Swachhta Hi Seva’, an initiative of the Swachh Bharat Mission, aims to generate greater public participation, reinforce the concept of “sanitation as everyone’s business” and culminate Mahatma Gandhi’s 150th birth year celebration with a nationwide campaign.
                </p>
                <button class="btn btn-success me-3 my-3"><a href=" https://www.pmindia.gov.in/en/news_updates/pms-address-at-the-launch-of-swachhata-hi-seva-movement/"> Continue
                     Reading</a></button>
            </div>
            <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                <img src="/blogs4.jpg" style="height: 400px ;width: 400px; border-radius: 10%;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column">
                <h5>March 12, 2017 Swachh Shakti</h5>
                <p class="me-3 my-3">
                    Wide varieties of activities are planned for schools in Rajasthan, Orissa, Telangana, Andhra Pradesh, Maharashtra, Karnataka and Uttar Pradesh. Over 10 schools in each location will welcome enthusiastic young volunteers from AIKYA - Akshaya Patra’s official
                    volunteering arm, who will help make each activity an interactive learning session for children & teachers.
                </p>
                <button class="btn btn-success me-3 my-3"><a href="https://www.akshayapatra.org/events/swachhta-hi-seva-campaign">Continue
                     Reading</a> </button>
            </div>
            <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                <img src="/blogs5.jpg" style="height: 400px ;width: 400px; border-radius: 10%;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column">
                <h5>January 20, 2017 Swachh Bharat Misssion: 3,00,000 villages declared ODF</h5>
                <p class="me-3 my-3">
                    To accelerate the efforts to achieve universal sanitation coverage and to put the focus on sanitation, the Prime Minister of India had launched the Swachh Bharat Mission on 2nd October 2014. Under the mission, all villages, Gram Panchayats, Districts,
                    States and Union Territories in India declared themselves "open-defecation free" (ODF) by 2 October 2019.
                </p>
                <button class="btn btn-success me-3 my-3"><a href="https://swachhbharatmission.gov.in/sbmcms/index.htm">Continue
                     Reading</a> </button>
            </div>
            <div class="col-md-8 d-flex justify-center align-items-center flex-column">
                <img src="/blogs6.jpg" style="height: 400px ;width: 400px; border-radius: 10%;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="footer" style="margin-top: 30px;">
                <p>copyright @2021-2022 www.saurabhcleaness@iiitg.com! all rights reserve</p>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>