<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Clean@IIITG</title>
    <style>
        body {
            background-color: antiquewhite;
        }
        
        button .btn :hover {
            background-color: brown;
        }
        
        a:hover {
            background-color: brown;
        }
        
        @media screen and (max-width: 762px) {
            .social {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
            }
        }
        
        .footer {
            display: flex;
            justify-content: center;
        }
        
        .footer p {
            background-color: black;
            color: white;
            margin: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            display: block;
            font-size: large;
            width: 100%;
            padding: 20px 50px;
        }
        
        a {
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 5px 5px;
            margin: 5px 5px;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav  ">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">CLEAN @IIITG MISSION</a>
            <img src="/logo2.jpg" style="height: 65px ;width: 65px; border-radius: 50%;" class=" img-fluid d-block " alt="...">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://sbm.gov.in/sbmdashboard/IHHL.aspx">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post">Post</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/post2.jpg" style="height: 400px ;width: 750px;" class=" img-fluid d-block w-100  h-md-250" alt="...">

            </div>

            <div class="carousel-item">
                <img src="/4.jpg" style="height: 400px ;width: 750px;" class=" img-fluid d-block w-100  h-md-250" alt="...">

            </div>
            <div class="carousel-item">
                <img src="/1.jpg" style="height: 400px ;width: 750px;" class=" img-fluid d-block w-100  h-md-250" alt="...">

            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container my-4 " style="background-color:antiquewhite ">
        <div class="row mb-2 ">
            <div class="col-md-6 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-primary "> Our waste is our resource</strong>

                        <div class="mb-1 text-muted ">Nov 12</div>
                        <p class="card-text mb-auto ">With a view to addressing enormous amounts of waste being generated and dumped on road sides and open spaces, the president, project development officer, elected representatives and staff of Bashettihalli gram panchayat (GP) in
                            Bangalore Rural district of Karnataka are making concerted efforts to manage solid and liquid waste.</p>
                        <a href="https://blog.mygov.in/our-waste-is-our-resource/ " class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300" height="278" src="/7.jpg " alt=" ">
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-success ">Adolescents of Assamese tea communities learn to make sanitary pads</strong>

                        <div class="mb-1 text-muted ">Nov 11</div>
                        <p class="mb-auto ">In 2020, as the first national lockdown was instituted in face of the COVID-19 outbreak, UNICEF Assam, in coordination with implementing partner, Bhartiya Cha Parishad (BCP) undertook an innovative initiative to orient and build
                            ..
                        </p>
                        <a href="https://sbmgramin.wordpress.com/2021/07/28/adolescents-of-assamese-tea-communities-learn-to-make-sanitary-pads/ " class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300 " height="278 " src="4.jpg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container " style="background-color:antiquewhite ">
        <div class="row mb-2 ">
            <div class="col-md-6 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-primary "> Intricate threadwork, motifs and vibrant colours describe</strong>

                        <div class="mb-1 text-muted ">Nov 12</div>
                        <p class="card-text mb-auto ">Intricate threadwork, motifs and vibrant colours describe the handloom weaves of Odisha that have gained national and international acclaim. Of these the Sambalpuri sarees handloom which is a centuries old traditional .. </p>
                        <a href="https://blog.mygov.in/toilets-help-revive-weaving-industry/" class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300" height="278 " src="3.jpg " alt=" ">
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-success ">The activity is in keeping with the Swachh Bharat Mission (Grameen) Phase-II, </strong>

                        <div class="mb-1 text-muted ">Nov 11</div>
                        <p class="mb-auto ">Two Self Help Groups namely, Star SHG and Sanis SHG have been successfully involved in vermicomposting activities in Shivapuram Gram Panchayat (GP) of Rangat Block in the North ..
                        </p>
                        <a href="https://sbmgramin.wordpress.com/2021/09/13/vermicomposting-an-alternative-source-of-income-for-women/" class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300 " height="278 " src="1.jpg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container " style="background-color: antiquewhite">
        <div class="row mb-2 ">
            <div class="col-md-6 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-primary ">vermicomposting is a great way </strong>

                        <div class="mb-1 text-muted ">Dec 13</div>
                        <p class="card-text mb-auto "> Vermicomposting is a great way to improve the flavour, yield and overall health of plants and vegetables. The finished product from the vermicomposting process is called vermicast (worm castings) which is important for soil amendment..
                        </p>
                        <a href="https://blog.mygov.in/toilets-help-revive-weaving-industry/" class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300 " height="278 " src="6.png " alt=" ">
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-success ">After experiencing repeated outbreaks of diseases and ugly scenes of dumped wastes on the streets,</strong>

                        <div class="mb-1 text-muted ">Nov 11</div>
                        <p class="mb-auto ">Vermicomposting is an excellent technique for recycling food waste. It is a complete plant nutrient that is environmentally friendly and affordable ..</p>
                        <a href="https://sbmgramin.wordpress.com/2021/09/13/vermicomposting-an-alternative-source-of-income-for-women/" class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300 " height="278 " src="5.jpg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: antiquewhite">
        <div class="row mb-2 ">
            <div class="col-md-6 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-primary "> Prior to the commencement of the Swachh Bharat Mission Grameen (SBM-G) in October 2014</strong>

                        <div class="mb-1 text-muted ">Nov 17</div>
                        <p class="card-text mb-auto ">The district is the hub of Sambalpuri handloom fabric in western Odisha and is home to predominantly a tribal community, one of the poorest in the State. According to official data. ..
                        </p>
                        <a href="https://blog.mygov.in/toilets-help-revive-weaving-industry/" class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300 " height="278 " src="/learn.jpeg " alt=" ">
                    </div>
                </div>
            </div>
            <div class="col-md-6 " style="background-color: antiquewhite">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static ">
                        <strong class="d-inline-block mb-2 text-success ">Composting is done using dry and wet cow dung, dry grass</strong>

                        <div class="mb-1 text-muted ">Nov 23</div>
                        <p class="mb-auto ">As a result, majority of the women and adolescent girls were compelled to use pieces of available household cloth as an alternative to sanitary pads. This endeavour of using random cloth cloth might.. </p>
                        <a href="https://sbm.gov.in/sbmReport/Home.aspx" class="stretched-link ">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block ">
                        <img class="bd-placeholder-img " width="300 " height="278 " src="/logo.png " alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container d-flex justify-content-center my-2 mb-2 flex-column d">

        <h1>
            <hr style="border-top: 5px solid rgb(248, 8, 8);  font-weight: bold; font-size: 50px;">
        </h1>
        <h1 style="color: rgb(220, 100, 20);">Discuss</h1>
        <h1>
            <hr style="border-top: 5px solid red;  font-weight: bold; font-size: 50px; ">
        </h1>

        <form class="d-flex">
            <input class="form-control me-2 " type="search" id="searchText" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body ">
                    <h3 class="card-title ">Username</h3>
                    <textarea class="form-control mb-3 " id="inputText" rows="3 "></textarea>
                    <h1>Post</h1>
                    <textarea class="form-control mb-3 " id="inputText2" rows="3 "></textarea>

                    <button class="btn btn-primary addBtn">Post</button>
                </div>
            </div>
        </div>
        <hr>
        <h5> Your Post</h5>
        <hr>
        <div class="row container-fluid" id="notes">



        </div>
    </div>


    <div class="footer" style="margin-top: 30px;">
        <p>copyright @2021-2022 www.cleanliness@iiitg.com! all rights reserved</p>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="index.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous ">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

</body>

</html>