<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha364-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-color: rgb(109 216 211);
        }
        
        button .btn :hover {
            background-color: brown;
        }
        
        a:hover {
            background-color: brown;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CLEAN@IIITGMISSION</a>
            <img src="/logo2.jpg" style="height: 70px ;width: 60px; border-radius: 50%;" class=" img-fluid d-block " alt="...">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://sbm.gov.in/sbmdashboard/Default.aspx">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post">Post</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>

                </ul>

            </div>
        </div>

    </nav>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4">
                <img src="/1.jpeg" style="height:300px ;width: 300px; " class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4">
                <h1>Planning & Design of Sanitation Systems and Technologies</h1>
                <li class="me-2">

                    begins External website that opens in a new window The Ministry of Jal Shakti began ‘SUJALAM’, a ‘100 days campaign’ as part of the ‘Azadi Ka Amrit Mahotsav’ celebrations to create more and more ODF Plus villages by undertaking waste water management
                    at village level particularly through creation of 1 million Soak-pits and also other Grey water management activities. The effort of campaign wou...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://www.coursera.org/learn/sanitation"></a>Read more</button>
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column  my-4 me-4">
                <img src="/2.jpeg" style="height:300px ;width: 300px; " class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column  my-4 me-4">
                <h1>Water Supply and Sanitation Policy in Developing Countries</h1>
                <li class="me-2">



                    July 26, 2021 ODF Plus Manuals under Swachh Bharat Mission (Grameen) Phase II Released External website that opens in a new window Union Minister for Jal Shakti, Shri Gajendra Singh Shekhawat and the Minister of State for Jal Shakti& Food Processing Industries,
                    Shri Prahlad Singh Patel released the ODF Plus Manuals under Swachh Bharat Mission (Grameen) Phase -II at an event here today organized by Department of Drinking Water and Sanitation (DDWS). The launched manual...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://www.coursera.org/learn/water"></a> Read more</button>
            </div>

            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4">
                <img src="/3.jpeg" style="height: 300px ;width: 300px; " class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4">
                <h1>Introduction to Faecal Sludge Management</h1>
                <li class="me-2">



                    February 25, 2021 Swachh Iconic Places - Ministry of Jal Shakti announces selection of 12 sites for transforming them into ‘Swachh Tourist Destinations’under Phase-IV External website that opens in a new window Taking forward the vision of Prime Minister,
                    Shri Narendra Modi for transforming iconic heritage, spiritual and cultural places in the country as ‘Swachh Tourist Destinations’ underSwachh Iconic Places (SIP) initiative of Swachh Bharat Mission Grameen (SBM-G), the Department
                    of Drinking Water and Sanitation (DDWS), Ministry of Jal Shakti has a...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://www.coursera.org/learn/faecalsludge"></a> Conotinue reading</button>
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4  my-4 me-4">
                <img src="/4.jpeg" style="height:300px ;width: 300px; " class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4  my-4 me-4">
                <h1>Personal Hygiene for Kids: Best Habits & Tips to Keep Your Child Healthy</h1>
                <li class="me-2">



                    February 03, 2021 Union Ministers jointly launch Unified Portal of Gobardhan to promote Gobardhan scheme and track real time progress External website that opens in a new window Union Minister, Agriculture and Farmers Welfare and Rural Development, Shri
                    Narendra Singh Tomar; Union Minister of Petroleum,Natural Gas and Steel, Shri Dharmendra Pradhan;Union Minister of Fisheries, Animal Husbandry and Dairying, Shri Giriraj Singh; Union Minister for Jal Shakti, Shri Gajendra Singh Shekhawat
                    and Union Minister of State, Ja...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://parenting.firstcry.com/articles/personal-hygiene-for-kids-best-habits-tips-to-keep-your-child-healthy/"></a> Conotinue reading</button>
            </div>

            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4">

                <img src="/5.jpeg" style="height:300px ;width: 300px;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4">
                <h1>Simple Hygiene and Sanitation Practices</h1>
                <li class="me-2">



                    March 04, 2020 Shri Gajendra Singh Shekhawat launches Swachh Bharat Mission (Grameen) Phase-II The Union Minister for Jal Shakti, Shri Gajendra Singh Shekhawat launched Phase II of Swachh Bharat Mission (Grameen) [SBM (G)] at a National Dissemination
                    and Consultation workshop here today. He was joined by the Union Minister of State for Jal Shakti and Social Justice & Empowerment, Shri Rattan Lal Kataria, Secretary, Department of Dri...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://www.unicef.org/media/91341/file/UNICEF-Guidance-menstrual-health-hygiene-2019.pdf"></a>Conotinue reading</button>
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4">
                <img src="/6.jpeg" style="height:300px ;width: 300px;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4">
                <h1>Guidance on Menstrual Health and Hygiene | UNICEF</h1>
                <li class="me-2">



                    begins External website that opens in a new window The Ministry of Jal Shakti began ‘SUJALAM’, a ‘100 days campaign’ as part of the ‘Azadi Ka Amrit Mahotsav’ celebrations to create more and more ODF Plus villages by undertaking waste water management
                    at village level particularly through creation of 1 million Soak-pits and also other Grey water management activities. The effort of campaign wou...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://parenting.firstcry.com/articles/personal-hygiene-for-kids-best-habits-tips-to-keep-your-child-healthy/"></a> Conotinue reading</button>
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4">
                <img src="/post.jpg" style="height:300px ;width: 300px; " class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4">
                <li class="me-2">



                    begins External website that opens in a new window The Ministry of Jal Shakti began ‘SUJALAM’, a ‘100 days campaign’ as part of the ‘Azadi Ka Amrit Mahotsav’ celebrations to create more and more ODF Plus villages by undertaking waste water management
                    at village level particularly through creation of 1 million Soak-pits and also other Grey water management activities. The effort of campaign wou...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://www.unicef.org/media/91341/file/UNICEF-Guidance-menstrual-health-hygiene-2019.pdf"></a> Conotinue reading</button>
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4">
                <img src="/logo.png" style="height:300px ;width: 300px; border-radius: 50%;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4">
                <li class="me-2">



                    begins External website that opens in a new window The Ministry of Jal Shakti began ‘SUJALAM’, a ‘100 days campaign’ as part of the ‘Azadi Ka Amrit Mahotsav’ celebrations to create more and more ODF Plus villages by undertaking waste water management
                    at village level particularly through creation of 1 million Soak-pits and also other Grey water management activities. The effort of campaign wou...

                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://www.coursera.org/learn/sanitation"></a> conotinue reading</button>
            </div>
            <div class="col-md-4 d-flex justify-center align-items-center flex-column my-4 me-4">
                <img src="/learn.jpeg" style="height:300px ;width: 300px;" class=" img-fluid d-block " alt="...">
            </div>
            <div class="col-md-6 d-flex justify-center align-items-center flex-column my-4 me-4">
                <li class="me-2">



                    March 04, 2020 Shri Gajendra Singh Shekhawat launches Swachh Bharat Mission (Grameen) Phase-II The Union Minister for Jal Shakti, Shri Gajendra Singh Shekhawat launched Phase II of Swachh Bharat Mission (Grameen) [SBM (G)] at a National Dissemination
                    and Consultation workshop here today. He was joined by the Union Minister of State for Jal Shakti and Social Justice & Empowerment, Shri Rattan Lal Kataria, Secretary, Department of Dri...
                </li>
                <button class="btn btn-success me-3 my-3"><a href="https://secure.mygov.in/home/49/blog/"></a>Important notic</button>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>